<div class="container mt-4">
  <h2 class="text-center text-white bg-danger p-4 textfontsize">Connexion</h2>


  <form  #f="ngForm" (ngSubmit)="login(f)" class="example-form my-5 bg-light">
    <mat-form-field class="example-full-width">
      <mat-label>Votre Email :</mat-label>
      <input
        type="email"
        matInput
        placeholder="daouda@admin.fr" name="email" ngModel

      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Mot de passe :</mat-label>
      <input type="password" name="password" ngModel matInput placeholder="monmotdepasse*****" />
    </mat-form-field>
    <section>
      <div class="example-label">
        <button mat-raised-button color="accent" type="submit">Se connecter</button>
      </div>
    </section>
  </form>
</div>
