<div class="container">
  <h1 class="text-center my-5 shadow bg-info bold p-5">Commandes clients  </h1>
  <table class="table">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">Nom et prénom </th>
        <th scope="col">Téléphone</th>
        <th scope="col">adresse</th>
        <th scope="col">Quantité </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderes">
        <th scope="row">{{order.payload.doc.data().name}}</th>
        <th scope="row">{{order.payload.doc.data().tel}}</th>
        <th scope="row">{{order.payload.doc.data().adresse}}</th>
        <th scope="row">{{order.payload.doc.data().quantity}}</th>
      </tr>
   
    </tbody>
  </table>
</div>