<div class="container mt-4">
  <h2 class="text-center text-white bg-danger p-4 textfontsize">Inscription</h2>

  <form #f="ngForm" (ngSubmit)="register(f)" class="example-form my-5 border">
    <mat-form-field class="example-full-width">
      <mat-label>Prénom</mat-label>
      <input
        type="text"
        matInput
        placeholder="Votre prénom"
        name="FirstName"
        ngModel
        required
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nom</mat-label>
      <input
        type="text"
        matInput
        placeholder="Votre nom"
        name="LastName"
        ngModel
        required
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Votre Email :</mat-label>
      <input
        type="email"
        matInput
        placeholder="Votre email"
        name="email"
        ngModel
        required
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Mot de passe :</mat-label>
      <input
        type="password"
        name="password"
        ngModel
        matInput
        placeholder="Votre mot de passe !"
        required
      />
    </mat-form-field>
    <section>
      <div class="example-label">
        <button mat-raised-button color="accent" type="submit">
          S'inscrire
        </button>
      </div>
    </section>
  </form>
</div>
