<div class="container mt-4">
  <h2 class="text-center couleurtexte">Inscription</h2>


  <form  #f="ngForm" (ngSubmit)="register(f)" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Firstname </mat-label>
      <input
        type="text"
        matInput
        placeholder="Votre prénom" name="FirstName" ngModel

      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Lastname </mat-label>
      <input
        type="text"
        matInput
        placeholder="Votre nom" name="LastName" ngModel

      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Votre Email </mat-label>
      <input
        type="email"
        matInput
        placeholder="Votre email" name="email" ngModel

      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" name="password" ngModel matInput placeholder="Votre mot de passe !" />
    </mat-form-field>
    <section>
      <div class="example-label">
        <button mat-raised-button color="accent" type="submit">S'inscrire</button>
      </div>
    </section>
  </form>
</div>
